<table>
    <tr>
        <th>Cost</th>
        <td>{{.Page.Params.specialization.cost}}</td>
    </tr>
    <tr>
        <th>Traits</th>
        <td>{{ range .Page.Params.specialization.traits }}
        {{ $rngRef := "ERROR" }}
        {{ if hasPrefix (upper .) "REPEATABLE" }}
            {{ $rngRef = ref $.Page "/core/ref/repeatable-trait.md" }}
        {{ else if hasPrefix (upper .) "IMMEDIATE" }}
            {{ $rngRef = ref $.Page "/core/ref/immediate-trait.md" }}
        {{ else if eq (upper .) "-" }}
            {{ $rngRef = "NO" }}
        {{ end }}
        {{ if eq $rngRef "NO" }}
        {{.}}
        {{ else }}
        <a href="{{$rngRef}}">{{.}}</a>
        {{ end }}
        {{ end }}</td>
    </tr>
    <tr>
        <th>Prerequisites</th>
        <td>{{ range .Page.Params.specialization.prereq }}
        {{ $preRef := "ERROR" }}
        {{ if hasPrefix (upper .) "ARTICULATE" }}
            {{ $preRef = ref $.Page "/core/ref/articulate-skill.md" }}
        {{ else if hasPrefix (upper .) "COGNITION" }}
            {{ $preRef = ref $.Page "/core/ref/cognition-skill.md" }}
        {{ else if hasPrefix (upper .) "DODGE" }}
            {{ $preRef = ref $.Page "/core/ref/dodge-skill.md" }}
        {{ else if hasPrefix (upper .) "FIGHT" }}
            {{ $preRef = ref $.Page "/core/ref/fight-skill.md" }}
        {{ else if hasPrefix (upper .) "NOTICE" }}
            {{ $preRef = ref $.Page "/core/ref/notice-skill.md" }}
        {{ else if hasPrefix (upper .) "SHOOT" }}
            {{ $preRef = ref $.Page "/core/ref/shoot-skill.md" }}
        {{ else if hasPrefix (upper .) "VIGOR" }}
            {{ $preRef = ref $.Page "/core/ref/vigor-skill.md" }}
        {{ else if hasPrefix (upper .) "WILL" }}
            {{ $preRef = ref $.Page "/core/ref/will-skill.md" }}
        {{ else if hasPrefix (upper .) "TACTICS" }}
            {{ $preRef = ref $.Page "/core/ref/tactics-skill.md" }}
        {{ else if eq (upper .) "-" }}
            {{ $preRef = "NO" }}
        {{ else }}
            {{ $cleanedName := trim ( lower (index (split . "(") 0) ) " "}}
            {{ $cleanedName := replace $cleanedName " " "-" }}
            {{ $cleanedName := replace $cleanedName "'" "" }}
            {{ $cleanedName = printf "%s-specialization.md" $cleanedName }}
            {{ with partial "find-md" (dict "cleanedName" $cleanedName "path" "/content/") }}
                {{if eq . "NO" }}
                    {{ $preRef = "NO" }}
                {{ else }}
                    {{ $preRef = (ref $.Page .) }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $preRef "NO"}}
        {{.}}
        {{ else }}
        <a href="{{$preRef}}">{{.}}</a>
        {{ end }}
        {{ end }}</td>
    </tr>
</table>
